extends ./layout/index

block slider 
    div.slider
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        div.row.mb-5
            div.col-md-6
                p.text-justify Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda corporis delectus incidunt asperiores sed deserunt optio vero laudantium! Sapiente deserunt velit eveniet harum nostrum, aspernatur ullam eos aliquam at commodi.
                p.text-justify Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda corporis delectus incidunt asperiores sed deserunt optio vero laudantium! Sapiente deserunt velit eveniet harum nostrum, aspernatur ullam eos aliquam at commodi.
            div.col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros" class="img-fluid")
            
        include ./layout/bloque_viajes

    div.descuento.mt-5
        div.container
            div.row
                div.col-md-6   
                    div.contenido
                        h3 5% de descuento
                        p.titulo Viaje a canada
                        p.fecha 20 de Marzo de 2022 -  28 de Marzo de 2022
                        p $2,500 USD

    div.container
        h2.mt-5.text-center.mb-3 Testimoniales
        include ./layout/bloque_testimoniales    