extends ./layout/index

block contenido
    main.container.mt-5 
        h1.text-center.mb-5=pagina

        div.row 
            div.col-md-5
                img(src="img/nosotros.jpg" class="img-fluid" alt="Imagen nosotros")
            div.col-md-7
                 
                blockquote.text-justify ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt congue ipsum sit amet pretium. Pellentesque justo eros, cursus eu nulla eu, convallis aliquet lorem. Mauris nec vestibulum lorem. Donec convallis dapibus mollis. Aliquam erat volutpat. Etiam ac tempus quam. Aliquam et volutpat metus, ac ultrices nisl. Maecenas a sem vitae metus molestie iaculis ut vitae eros. Sed ut ultrices orci. Cras odio nibh, pellentesque at porttitor vel, consectetur sit amet diam. Aliquam ac ipsum nunc. Vestibulum ullamcorper elementum massa. Ut arcu dui, blandit vitae odio nec, ornare porttitor eros. In porta bibendum metus, non vestibulum lorem auctor sed. In ac augue tortor. Etiam volutpat auctor massa nec sollicitudin.

                p.text-justify at pellentesque risus, quis lobortis enim. Fusce tristique malesuada neque non auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas rhoncus at odio eu euismod. Nam et turpis non nisl molestie auctor. Fusce varius aliquam odio, eu pellentesque risus tincidunt a. Sed arcu                 p aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tristique nulla vitae quam ornare, ac porttitor mauris accumsan. Duis nunc dolor, molestie ut aliquam eget, vestibulum non dolor. Integer venenatis sapien eros, vel aliquam justo pulvinar eu. Pellentesque at mi ac lacus semper ultricies ac id neque. Morbi viv

    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4
                    img(src="/img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Somos la agencia de viajes mas segura a nivel mudial.
                div.col-md-4
                    img(src="/img/icono_precio.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Gracias a los increibles patrocinios que tiene la agancia de viajes tenemos vuelos con increibles precios.
                div.col-md-4
                    img(src="/img/icono_destinos.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Decide a donde quieres ir y cuando quieres ir con un par de clicks.